@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-collapse {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-control {
  border-width: 2px;
  border-color: black;
}

body, html {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.header {
  background-color: rgba(0,0,0,0.1)
}

.nav-link {
  color: white;
}